:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: fff;
  background-color: gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  background-color: #242424;
  padding: 2rem 5rem 2rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #000;
  list-style: none;

  & .card {
    background: #302d2d91;
    border: thin solid orange;
    margin: 0.75rem;
    max-width: 400px;
    list-style: none;

    & li {
      list-style-type: none;
    }

    & article {
      list-style: none;
    }

    
  }
}


::marker {
  background-color: transparent;
}